In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import json

In [4]:
import time

In [5]:
from pandas.io.json import json_normalize

In [6]:
import requests

In [7]:
def get_data_from_vipunen(resource, fiql = ''):
    try:
        if len(fiql) > 0 :
            url = 'http://api.vipunen.fi/api/resources/' + resource + '/data?filter=' + fiql
        else:
            url = 'http://api.vipunen.fi/api/resources/' + resource + '/data'
        return requests.get(url, json={
            "Accept": "application/json;charset=UTF-8"
        })
    except Exception as e:
        raise e

In [8]:
resp = get_data_from_vipunen('tavoiteajassa_tutkinnon_suorittaneet', 'tilastovuosi>2009 and sektori==Yliopistokoulutus')

In [9]:
resp

In [10]:
resp_json = json.loads(resp.text)

In [11]:
df = pd.DataFrame(resp_json)

In [12]:
df.head()

,tilastovuosi,sektori,korkeakoulu,koulutus,tutkinnot,tavoiteajassa,tavoiteaikaYlitettyKorkeintaan12Kk,tavoiteaikaYlitettyYli12Kk,onAiempiKorkeakoulututkinto,tutkintopisteet,...,koulutusalaTaso2,koulutusalaTaso3,okmOhjauksenAla,rahoitusmallialaAmk2017-2020,rahoitusmallialaAmk2021-2024,rahoitusmallialaYo2017-2020,rahoitusmallialaYo2021-2024,koodiSektori,koodiKorkeakoulu,koodiKoulutus
0,2015,Yliopistokoulutus,Helsingin yliopisto,"Kasvatustieteiden kandidaatti (alempi), lasten...",126,46,33,47,21,151.13,...,Kasvatusalat,Varhaiskasvatuksen opettajien koulutus,Kasvatusalat,"Kasvatusalat, taiteet ja kulttuurialat ja yhte...","Kasvatusalat, taiteet ja kulttuurialat ja yhte...",Kasvatusalat,Kasvatusalat,5,01901,612101
1,2015,Yliopistokoulutus,Helsingin yliopisto,"Kasvatust. kand. (alempi), luokanopettaja (ei ...",131,19,38,74,14,146.74,...,Kasvatusalat,Luokanopettajien koulutus,Kasvatusalat,"Kasvatusalat, taiteet ja kulttuurialat ja yhte...","Kasvatusalat, taiteet ja kulttuurialat ja yhte...",Kasvatusalat,Kasvatusalat,5,01901,612102
2,2015,Yliopistokoulutus,Helsingin yliopisto,"Kasvatust. kand. (alempi), kotitalousopettaja ...",31,2,7,22,3,33.05,...,Kasvatusalat,Aineenopettajien koulutus,Kasvatusalat,"Kasvatusalat, taiteet ja kulttuurialat ja yhte...","Kasvatusalat, taiteet ja kulttuurialat ja yhte...",Kasvatusalat,Kasvatusalat,5,01901,612104
3,2015,Yliopistokoulutus,Helsingin yliopisto,"Kasvatust. kand. (alempi), käsityönopettaja (e...",26,2,9,15,4,28.32,...,Kasvatusalat,Aineenopettajien koulutus,Kasvatusalat,"Kasvatusalat, taiteet ja kulttuurialat ja yhte...","Kasvatusalat, taiteet ja kulttuurialat ja yhte...",Kasvatusalat,Kasvatusalat,5,01901,612105
4,2015,Yliopistokoulutus,Helsingin yliopisto,"Kasvatust. kand. (alempi), kasvatustiede",71,19,19,33,8,83.50,...,Kasvatusalat,Kasvatustieteet,Kasvatusalat,"Kasvatusalat, taiteet ja kulttuurialat ja yhte...","Kasvatusalat, taiteet ja kulttuurialat ja yhte...",Kasvatusalat,Kasvatusalat,5,01901,612201

In [13]:
df = df.drop(columns=['sektori', 'tutkintopisteet', 'koulutusalaTaso2', 'koulutusalaTaso3', 'okmOhjauksenAla'])

In [14]:
df

,tilastovuosi,korkeakoulu,koulutus,tutkinnot,tavoiteajassa,tavoiteaikaYlitettyKorkeintaan12Kk,tavoiteaikaYlitettyYli12Kk,onAiempiKorkeakoulututkinto,koulutusasteTaso1,koulutusasteTaso2,koulutusalaTaso1,rahoitusmallialaAmk2017-2020,rahoitusmallialaAmk2021-2024,rahoitusmallialaYo2017-2020,rahoitusmallialaYo2021-2024,koodiSektori,koodiKorkeakoulu,koodiKoulutus
0,2015,Helsingin yliopisto,"Kasvatustieteiden kandidaatti (alempi), lasten...",126,46,33,47,21,Alempi korkeakouluaste,Alempi korkeakoulututkinto,Kasvatusalat,"Kasvatusalat, taiteet ja kulttuurialat ja yhte...","Kasvatusalat, taiteet ja kulttuurialat ja yhte...",Kasvatusalat,Kasvatusalat,5,01901,612101
1,2015,Helsingin yliopisto,"Kasvatust. kand. (alempi), luokanopettaja (ei ...",131,19,38,74,14,Alempi korkeakouluaste,Alempi korkeakoulututkinto,Kasvatusalat,"Kasvatusalat, taiteet ja kulttuurialat ja yhte...","Kasvatusalat, taiteet ja kulttuurialat ja yhte...",Kasvatusalat,Kasvatusalat,5,01901,612102
2,2015,Helsingin yliopisto,"Kasvatust. kand. (alempi), kotitalousopettaja ...",31,2,7,22,3,Alempi korkeakouluaste,Alempi korkeakoulututkinto,Kasvatusalat,"Kasvatusalat, taiteet ja kulttuurialat ja yhte...","Kasvatusalat, taiteet ja kulttuurialat ja yhte...",Kasvatusalat,Kasvatusalat,5,01901,612104
3,2015,Helsingin yliopisto,"Kasvatust. kand. (alempi), käsityönopettaja (e...",26,2,9,15,4,Alempi korkeakouluaste,Alempi korkeakoulututkinto,Kasvatusalat,"Kasvatusalat, taiteet ja kulttuurialat ja yhte...","Kasvatusalat, taiteet ja kulttuurialat ja yhte...",Kasvatusalat,Kasvatusalat,5,01901,612105
4,2015,Helsingin yliopisto,"Kasvatust. kand. (alempi), kasvatustiede",71,19,19,33,8,Alempi korkeakouluaste,Alempi korkeakoulututkinto,Kasvatusalat,"Kasvatusalat, taiteet ja kulttuurialat ja yhte...","Kasvatusalat, taiteet ja kulttuurialat ja yhte...",Kasvatusalat,Kasvatusalat,5,01901,612201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4482,2020,Tampereen yliopisto,"Dipl.ins., rakennustekniikka, yhdyskuntatekniikka",22,2,8,12,0,Ylempi korkeakouluaste,Ylempi korkeakoulututkinto,Tekniikan alat,"Luonnontieteet, tietojenkäsittely ja tietoliik...","Luonnontieteet, tietojenkäsittely ja tietoliik...",Tietojenkäsittely ja tietoliikenneliikenne sek...,Tietojenkäsittely ja tietoliikenne sekä teknii...,5,10122,751501
4483,2020,Tampereen yliopisto,"Dipl.ins., tuotantotalous",27,4,11,12,0,Ylempi korkeakouluaste,Ylempi korkeakoulututkinto,Tekniikan alat,"Luonnontieteet, tietojenkäsittely ja tietoliik...","Luonnontieteet, tietojenkäsittely ja tietoliik...",Tietojenkäsittely ja tietoliikenneliikenne sek...,Tietojenkäsittely ja tietoliikenne sekä teknii...,5,10122,751601
4484,2020,Tampereen yliopisto,Arkkitehti,8,1,3,4,0,Ylempi korkeakouluaste,Ylempi korkeakoulututkinto,Tekniikan alat,"Luonnontieteet, tietojenkäsittely ja tietoliik...","Luonnontieteet, tietojenkäsittely ja tietoliik...",Tietojenkäsittely ja tietoliikenneliikenne sek...,Tietojenkäsittely ja tietoliikenne sekä teknii...,5,10122,754101
4485,2020,Tampereen yliopisto,Lääketieteen lisensiaatti,100,88,9,3,5,Ylempi korkeakouluaste,Ylempi korkeakoulututkinto,Terveys- ja hyvinvointialat,"Humanistiset alat, lääketieteet ja terveys- ja...","Humanistiset alat, lääketieteet ja terveys- ja...",Lääketiede,Lääketiede ja hammaslääketiede,5,10122,772101
4486,2020,Tampereen yliopisto,"Terveystieteiden maisteri, terveydenhuollon ka...",13,10,2,1,1,Ylempi korkeakouluaste,Ylempi korkeakoulututkinto,Terveys- ja hyvinvointialat,"Humanistiset alat, lääketieteet ja terveys- ja...","Humanistiset alat, lääketieteet ja terveys- ja...",Terveys- ja hyvinvointialat,Terveys- ja hyvinvointialat sekä palvelualat,5,10122,772501

In [15]:
df = df.drop(columns=['koulutus', 'koodiKoulutus', 'rahoitusmallialaYo2021-2024', 'rahoitusmallialaYo2017-2020', 'rahoitusmallialaAmk2021-2024', 'rahoitusmallialaAmk2017-2020'])

In [16]:
df

,tilastovuosi,korkeakoulu,tutkinnot,tavoiteajassa,tavoiteaikaYlitettyKorkeintaan12Kk,tavoiteaikaYlitettyYli12Kk,onAiempiKorkeakoulututkinto,koulutusasteTaso1,koulutusasteTaso2,koulutusalaTaso1,koodiSektori,koodiKorkeakoulu
0,2015,Helsingin yliopisto,126,46,33,47,21,Alempi korkeakouluaste,Alempi korkeakoulututkinto,Kasvatusalat,5,01901
1,2015,Helsingin yliopisto,131,19,38,74,14,Alempi korkeakouluaste,Alempi korkeakoulututkinto,Kasvatusalat,5,01901
2,2015,Helsingin yliopisto,31,2,7,22,3,Alempi korkeakouluaste,Alempi korkeakoulututkinto,Kasvatusalat,5,01901
3,2015,Helsingin yliopisto,26,2,9,15,4,Alempi korkeakouluaste,Alempi korkeakoulututkinto,Kasvatusalat,5,01901
4,2015,Helsingin yliopisto,71,19,19,33,8,Alempi korkeakouluaste,Alempi korkeakoulututkinto,Kasvatusalat,5,01901
...,...,...,...,...,...,...,...,...,...,...,...,...
4482,2020,Tampereen yliopisto,22,2,8,12,0,Ylempi korkeakouluaste,Ylempi korkeakoulututkinto,Tekniikan alat,5,10122
4483,2020,Tampereen yliopisto,27,4,11,12,0,Ylempi korkeakouluaste,Ylempi korkeakoulututkinto,Tekniikan alat,5,10122
4484,2020,Tampereen yliopisto,8,1,3,4,0,Ylempi korkeakouluaste,Ylempi korkeakoulututkinto,Tekniikan alat,5,10122
4485,2020,Tampereen yliopisto,100,88,9,3,5,Ylempi korkeakouluaste,Ylempi korkeakoulututkinto,Terveys- ja hyvinvointialat,5,10122
4486,2020,Tampereen yliopisto,13,10,2,1,1,Ylempi korkeakouluaste,Ylempi korkeakoulututkinto,Terveys- ja hyvinvointialat,5,10122

In [17]:
df = df.drop(columns = ['koulutusasteTaso2', 'koulutusalaTaso1', 'koodiSektori'])

In [18]:
df

,tilastovuosi,korkeakoulu,tutkinnot,tavoiteajassa,tavoiteaikaYlitettyKorkeintaan12Kk,tavoiteaikaYlitettyYli12Kk,onAiempiKorkeakoulututkinto,koulutusasteTaso1,koodiKorkeakoulu
0,2015,Helsingin yliopisto,126,46,33,47,21,Alempi korkeakouluaste,01901
1,2015,Helsingin yliopisto,131,19,38,74,14,Alempi korkeakouluaste,01901
2,2015,Helsingin yliopisto,31,2,7,22,3,Alempi korkeakouluaste,01901
3,2015,Helsingin yliopisto,26,2,9,15,4,Alempi korkeakouluaste,01901
4,2015,Helsingin yliopisto,71,19,19,33,8,Alempi korkeakouluaste,01901
...,...,...,...,...,...,...,...,...,...
4482,2020,Tampereen yliopisto,22,2,8,12,0,Ylempi korkeakouluaste,10122
4483,2020,Tampereen yliopisto,27,4,11,12,0,Ylempi korkeakouluaste,10122
4484,2020,Tampereen yliopisto,8,1,3,4,0,Ylempi korkeakouluaste,10122
4485,2020,Tampereen yliopisto,100,88,9,3,5,Ylempi korkeakouluaste,10122
4486,2020,Tampereen yliopisto,13,10,2,1,1,Ylempi korkeakouluaste,10122

In [19]:
df['tilastovuosi'] != 2020

0        True
1        True
2        True
3        True
4        True
        ...
4482    False
4483    False
4484    False
4485    False
4486    False
Name: tilastovuosi, Length: 4487, dtype: bool

In [20]:
df = df[df['tilastovuosi'] != 2020]

In [21]:
df.sort_values(by=['tilastovuosi', 'korkeakoulu'])

,tilastovuosi,korkeakoulu,tutkinnot,tavoiteajassa,tavoiteaikaYlitettyKorkeintaan12Kk,tavoiteaikaYlitettyYli12Kk,onAiempiKorkeakoulututkinto,koulutusasteTaso1,koodiKorkeakoulu
439,2015,Aalto-yliopisto,120,21,38,61,20,Alempi korkeakouluaste,10076
440,2015,Aalto-yliopisto,334,122,118,94,12,Alempi korkeakouluaste,10076
441,2015,Aalto-yliopisto,36,6,16,14,4,Alempi korkeakouluaste,10076
442,2015,Aalto-yliopisto,33,8,12,13,0,Alempi korkeakouluaste,10076
443,2015,Aalto-yliopisto,161,20,35,106,0,Alempi korkeakouluaste,10076
...,...,...,...,...,...,...,...,...,...
3295,2019,Åbo Akademi,10,0,5,5,0,Ylempi korkeakouluaste,01903
3296,2019,Åbo Akademi,10,3,2,5,0,Ylempi korkeakouluaste,01903
3297,2019,Åbo Akademi,20,4,4,12,0,Ylempi korkeakouluaste,01903
3298,2019,Åbo Akademi,28,8,12,8,0,Ylempi korkeakouluaste,01903
3299,2019,Åbo Akademi,14,8,2,4,0,Ylempi korkeakouluaste,01903

In [22]:
df[(df['tilastovuosi'] == 2015) & (df['korkeakoulu'] == 'Helsingin yliopisto')]['tutkinnot'].sum()

5516

In [23]:
df = df.groupby(['tilastovuosi', 'korkeakoulu']).sum()

In [24]:
df.to_csv('tavoiteaika_data.csv',index=True)

In [25]:
degrees = pd.read_csv('data/degrees_data.csv')

In [26]:
degrees.head()

,yliopisto,tilastovuosi,Alempi korkeakoulututkinto,Ylempi korkeakoulututkinto,Lisensiaatintutkinto,Tohtorintutkinto
0,Aalto-yliopisto,2015,1662,1968,27,255
1,Helsingin yliopisto,2015,2826,2691,36,528
2,Itä-Suomen yliopisto,2015,1359,1380,12,162
3,Jyväskylän yliopisto,2015,1260,1485,9,159
4,Lapin yliopisto,2015,489,417,4,24

In [27]:
import plotly.express as px

In [28]:
degrees.yliopisto.isin(['Aalto-yliopisto', 'Helsingin yliopisto', 'Itä-Suomen Yliopisto'])

0      True
1      True
2     False
3     False
4     False
      ...
60    False
61    False
62    False
63    False
64    False
Name: yliopisto, Length: 65, dtype: bool

In [29]:
publications = pd.read_csv('data/jufo_data.csv')

In [30]:
publications.head()

   Unnamed: 0             yliopisto  tilastovuosi  JUFO-taso  lkm
0         156       Aalto-yliopisto          2015          0  480
1         157   Helsingin yliopisto          2015          0  564
2         158  Itä-Suomen yliopisto          2015          0  180
3         159  Jyväskylän yliopisto          2015          0  208
4         160       Lapin yliopisto          2015          0   69

In [31]:
degrees.yliopisto.unique()

array(['Aalto-yliopisto', 'Helsingin yliopisto', 'Itä-Suomen yliopisto',
       'Jyväskylän yliopisto', 'Lapin yliopisto',
       'Lappeenrannan–Lahden teknillinen yliopisto', 'Oulun yliopisto',
       'Svenska handelshögskolan', 'Taideyliopisto',
       'Tampereen yliopisto', 'Turun yliopisto', 'Vaasan yliopisto',
       'Åbo Akademi'], dtype=object)

In [32]:
iterator = zip(degrees.yliopisto.unique(), degrees.yliopisto.unique())

In [33]:
[{x : x} for x in degrees.yliopisto.unique()]

[{'Aalto-yliopisto': 'Aalto-yliopisto'},
 {'Helsingin yliopisto': 'Helsingin yliopisto'},
 {'Itä-Suomen yliopisto': 'Itä-Suomen yliopisto'},
 {'Jyväskylän yliopisto': 'Jyväskylän yliopisto'},
 {'Lapin yliopisto': 'Lapin yliopisto'},
 {'Lappeenrannan–Lahden teknillinen yliopisto': 'Lappeenrannan–Lahden teknillinen yliopisto'},
 {'Oulun yliopisto': 'Oulun yliopisto'},
 {'Svenska handelshögskolan': 'Svenska handelshögskolan'},
 {'Taideyliopisto': 'Taideyliopisto'},
 {'Tampereen yliopisto': 'Tampereen yliopisto'},
 {'Turun yliopisto': 'Turun yliopisto'},
 {'Vaasan yliopisto': 'Vaasan yliopisto'},
 {'Åbo Akademi': 'Åbo Akademi'}]

In [34]:
unis = degrees.yliopisto.unique()

In [35]:
[{x : x} for x in unis]

[{'Aalto-yliopisto': 'Aalto-yliopisto'},
 {'Helsingin yliopisto': 'Helsingin yliopisto'},
 {'Itä-Suomen yliopisto': 'Itä-Suomen yliopisto'},
 {'Jyväskylän yliopisto': 'Jyväskylän yliopisto'},
 {'Lapin yliopisto': 'Lapin yliopisto'},
 {'Lappeenrannan–Lahden teknillinen yliopisto': 'Lappeenrannan–Lahden teknillinen yliopisto'},
 {'Oulun yliopisto': 'Oulun yliopisto'},
 {'Svenska handelshögskolan': 'Svenska handelshögskolan'},
 {'Taideyliopisto': 'Taideyliopisto'},
 {'Tampereen yliopisto': 'Tampereen yliopisto'},
 {'Turun yliopisto': 'Turun yliopisto'},
 {'Vaasan yliopisto': 'Vaasan yliopisto'},
 {'Åbo Akademi': 'Åbo Akademi'}]

In [36]:
publications = pd.read_csv('data/jufo_data.csv')

In [37]:
publications.head()

   Unnamed: 0             yliopisto  tilastovuosi  JUFO-taso  lkm
0         156       Aalto-yliopisto          2015          0  480
1         157   Helsingin yliopisto          2015          0  564
2         158  Itä-Suomen yliopisto          2015          0  180
3         159  Jyväskylän yliopisto          2015          0  208
4         160       Lapin yliopisto          2015          0   69

In [38]:
publications = publications.sort_values(by=['JUFO-taso','tilastovuosi','yliopisto'])

In [39]:
publications.to_csv('data/jufo_data.csv')

In [41]:
student_feedback = pd.read_csv('data/opiskelijapalaute_data.csv')

In [42]:
student_feedback.head(10)

,väittämä,yliopisto,tilastovuosi,Vastaajamäärä,Keskiarvo (rahoitusmalli),Keskihajonta,Pisteet
0,Voin hyvin yliopistossani.,Aalto-yliopisto,2017,967,4.28,0.81,4136
1,Minun on ollut helppoa löytää opintoihini liit...,Aalto-yliopisto,2017,968,3.78,0.84,3657
2,Olen ollut tyytyväinen käytettyihin opetusmen...,Aalto-yliopisto,2017,969,3.76,0.77,3648
3,Koulutukseni on vastannut sille asetettuja ta...,Aalto-yliopisto,2017,969,3.75,0.80,3633
4,Olen ollut tyytyväinen opinto-ohjelmani tarjoa...,Aalto-yliopisto,2017,968,3.66,0.90,3547
5,Opettajilta saamani palaute on auttanut minua ...,Aalto-yliopisto,2017,965,3.42,0.90,3301
6,Olen tyytyväinen omaan opiskeluuni.,Aalto-yliopisto,2017,969,4.02,0.82,3894
7,Opetus on ollut mielestäni pääosin laadukasta.,Aalto-yliopisto,2017,968,4.00,0.80,3868
8,Tarjolla on ollut riittävästi ohjausta opintoj...,Aalto-yliopisto,2017,969,3.78,0.93,3662
9,Olen ollut tyytyväinen vuorovaikutukseeni opet...,Aalto-yliopisto,2017,967,3.88,0.81,3749

In [43]:
student_feedback = student_feedback[['väittämä', 'yliopisto', 'tilastovuosi', 'Keskiarvo (rahoitusmalli)']]

In [44]:
student_feedback.rename(columns={'Keskiarvo (rahoitusmalli)':'Keskiarvo'})

,väittämä,yliopisto,tilastovuosi,Keskiarvo
0,Voin hyvin yliopistossani.,Aalto-yliopisto,2017,4.28
1,Minun on ollut helppoa löytää opintoihini liit...,Aalto-yliopisto,2017,3.78
2,Olen ollut tyytyväinen käytettyihin opetusmen...,Aalto-yliopisto,2017,3.76
3,Koulutukseni on vastannut sille asetettuja ta...,Aalto-yliopisto,2017,3.75
4,Olen ollut tyytyväinen opinto-ohjelmani tarjoa...,Aalto-yliopisto,2017,3.66
...,...,...,...,...
502,Tarjolla on ollut riittävästi ohjausta opintoj...,Åbo Akademi,2019,3.66
503,Olen ollut tyytyväinen vuorovaikutukseeni opet...,Åbo Akademi,2019,4.16
504,Koulutuksen myötä kehittynyt osaamiseni vastaa...,Åbo Akademi,2019,3.91
505,Tarjolla on ollut riittävästi ohjausta kandida...,Åbo Akademi,2019,4.15
506,Ongelmatilanteissa olen tarvittaessa löytänyt ...,Åbo Akademi,2019,4.34

In [45]:
student_feedback = pd.read_csv('data/opiskelijapalaute_data.csv')
student_feedback = student_feedback[['väittämä', 'yliopisto', 'tilastovuosi', 'Keskiarvo (rahoitusmalli)']]
student_feedback = student_feedback.rename(columns={'Keskiarvo (rahoitusmalli)':'Keskiarvo', 'väittämä':'metric'})
student_feedback['metric'] = student_feedback['metric'].map({
    'Voin hyvin yliopistossani.':'Well-being & Satisfaction',
    'Olen tyytyväinen omaan opiskeluuni.':'Well-being & Satisfaction',
    'Minun on ollut helppoa löytää opintoihini liittyvää tietoa ja tukea.':'Study guidance',
    'Ongelmatilanteissa olen tarvittaessa löytänyt henkilön, jolta olen voinut pyytää neuvoa.':'Study guidance',
    'Tarjolla on ollut riittävästi ohjausta opintojen suunnitteluun.':'Study guidance',
    'Olen ollut  tyytyväinen käytettyihin opetusmenetelmiin.':'Teaching',
    'Opetus on ollut  mielestäni pääosin laadukasta.':'Teaching',
    'Olen ollut tyytyväinen vuorovaikutukseeni opetushenkilökunnan kanssa.':'Teacher interaction',
    'Opettajilta saamani palaute on auttanut minua opinnoissani.':'Teacher interaction',
    'Olen ollut tyytyväinen opinto-ohjelmani tarjoamiin vaikutus- ja osallistumismahdollisuuksiin (esim. opetussuunnitteluun osallistuminen ja palautteen antamisen mahdollisuudet).':'Teacher interaction',
    'Koulutukseni on vastannut  sille asetettuja tavoitteita.':'Degree satisfaction',
    'Koulutuksen myötä kehittynyt osaamiseni vastaa odotuksiani.':'Degree satisfaction',
    'Tarjolla on ollut riittävästi ohjausta kandidaatin tutkielman laatimiseen/opinnäytteen tekemiseen.':'Thesis guidance'
})

In [46]:
student_feedback.groupby(['yliopisto','metric','tilastovuosi'], as_index=False).mean()

           yliopisto                     metric  tilastovuosi  Keskiarvo
0    Aalto-yliopisto        Degree satisfaction          2017   3.820000
1    Aalto-yliopisto        Degree satisfaction          2018   3.850000
2    Aalto-yliopisto        Degree satisfaction          2019   3.890000
3    Aalto-yliopisto             Study guidance          2017   3.886667
4    Aalto-yliopisto             Study guidance          2018   3.950000
..               ...                        ...           ...        ...
190      Åbo Akademi                   Teaching          2018   3.890000
191      Åbo Akademi                   Teaching          2019   3.940000
192      Åbo Akademi  Well-being & Satisfaction          2017   4.235000
193      Åbo Akademi  Well-being & Satisfaction          2018   4.135000
194      Åbo Akademi  Well-being & Satisfaction          2019   4.205000

[195 rows x 4 columns]

In [47]:
help(px.parallel_coordinates)

Help on function parallel_coordinates in module plotly.express._chart_types:

parallel_coordinates(data_frame=None, dimensions=None, color=None, labels={}, color_continuous_scale=None, range_color=None, color_continuous_midpoint=None, title=None, template=None, width=None, height=None)
        In a parallel coordinates plot, each row of `data_frame` is represented
        by a polyline mark which traverses a set of parallel axes, one for each
        of the `dimensions`.

    Parameters
    ----------
    data_frame: DataFrame or array-like or dict
        This argument needs to be passed for column names (and not keyword
        names) to be used. Array-like and dict are tranformed internally to a
        pandas DataFrame. Optional: if missing, a DataFrame gets constructed
        under the hood using the other arguments.
    dimensions: list of str or int, or Series or array-like
        Either names of columns in `data_frame`, or pandas Series, or
        array_like objects Values from these columns are used for
        multidimensional visualization.
    color: str or int or Series or array-like
        Either a name of a column in `data_frame`, or a pandas Series or
        array_like object. Values from this column or array_like are used to
        assign color to marks.
    labels: dict with str keys and str values (default `{}`)
        By default, column names are used in the figure for axis titles, legend
        entries and hovers. This parameter allows this to be overridden. The
        keys of this dict should correspond to column names, and the values
        should correspond to the desired label to be displayed.
    color_continuous_scale: list of str
        Strings should define valid CSS-colors This list is used to build a
        continuous color scale when the column denoted by `color` contains
        numeric data. Various useful color scales are available in the
        `plotly.express.colors` submodules, specifically
        `plotly.express.colors.sequential`, `plotly.express.colors.diverging`
        and `plotly.express.colors.cyclical`.
    range_color: list of two numbers
        If provided, overrides auto-scaling on the continuous color scale.
    color_continuous_midpoint: number (default `None`)
        If set, computes the bounds of the continuous color scale to have the
        desired midpoint. Setting this value is recommended when using
        `plotly.express.colors.diverging` color scales as the inputs to
        `color_continuous_scale`.
    title: str
        The figure title.
    template: str or dict or plotly.graph_objects.layout.Template instance
        The figure template name (must be a key in plotly.io.templates) or
        definition.
    width: int (default `None`)
        The figure width in pixels.
    height: int (default `None`)
        The figure height in pixels.

    Returns
    -------
        plotly.graph_objects.Figure

In [60]:
career_feedback = pd.read_csv('data/uraseuranta_data.csv')

In [61]:
career_feedback.head(10)

,väittämä,yliopisto,tilastovuosi,Vastaajamäärä (maisterit),Keskiarvo (maisterit),Pisteet (maisterit)
0,a) Pystyn hyödyntämään yliopistossa oppimiani ...,Aalto-yliopisto,2017,525,4.6,2430
1,"3) analyyttiset, systemaattisen ajattelun taidot",Aalto-yliopisto,2017,516,4.8,409
2,d) Koulutus antoi riittävät valmiudet työeläm...,Aalto-yliopisto,2017,532,4.1,2204
3,4) tiedonhankintataidot,Aalto-yliopisto,2017,518,4.6,401
4,b) Työni vastaa vaativuustasoltaan hyvin yliop...,Aalto-yliopisto,2017,524,4.9,2592
5,4. Miten tyytyväinen olet kokonaisuudessaan v...,Aalto-yliopisto,2017,532,4.7,2509
6,21) kyky oppia ja omaksua uutta,Aalto-yliopisto,2017,511,4.9,414
7,23) tieteiden- tai taiteidenvälisyys/moniamma...,Aalto-yliopisto,2017,514,3.1,270
8,26) itseohjautuvuus/oma-aloitteisuus,Aalto-yliopisto,2017,512,4.5,382
9,27) yrittäjyystaidot,Aalto-yliopisto,2017,506,2.1,173

In [56]:
career_feedback = career_feedback[['väittämä','yliopisto', 'tilastovuosi', 'Keskiarvo (maisterit)']]

In [57]:
career_feedback = career_feedback.rename(columns={'väittämä':'metric', 'Keskiarvo (maisterit)':'Keskiarvo'})
career_feedback['metric'] = student_feedback['metric'].str.strip()

In [59]:
career_feedback.head(10)

                      metric        yliopisto  tilastovuosi  Keskiarvo
0  Well-being & Satisfaction  Aalto-yliopisto          2017        4.6
1             Study guidance  Aalto-yliopisto          2017        4.8
2                   Teaching  Aalto-yliopisto          2017        4.1
3        Degree satisfaction  Aalto-yliopisto          2017        4.6
4        Teacher interaction  Aalto-yliopisto          2017        4.9
5        Teacher interaction  Aalto-yliopisto          2017        4.7
6  Well-being & Satisfaction  Aalto-yliopisto          2017        4.9
7                   Teaching  Aalto-yliopisto          2017        3.1
8             Study guidance  Aalto-yliopisto          2017        4.5
9        Teacher interaction  Aalto-yliopisto          2017        2.1