In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import json

In [5]:
import time

In [6]:
from pandas.io.json import json_normalize

In [7]:
import requests

In [8]:
def get_data_from_vipunen(resource, fiql = ''):
    try:
        if len(fiql) > 0 :
            url = 'http://api.vipunen.fi/api/resources/' + resource + '/data?filter=' + fiql
        else:
            url = 'http://api.vipunen.fi/api/resources/' + resource + '/data'
        return requests.get(url, json={
            "Accept": "application/json;charset=UTF-8"
        })
    except Exception as e:
        raise e

In [9]:
resp = get_data_from_vipunen('tavoiteajassa_tutkinnon_suorittaneet', 'tilastovuosi>2009 and sektori==Yliopistokoulutus')

In [10]:
resp

In [11]:
resp_json = json.loads(resp.text)

In [12]:
df = pd.DataFrame(resp_json)

In [13]:
df.head()

,tilastovuosi,sektori,korkeakoulu,koulutus,tutkinnot,tavoiteajassa,tavoiteaikaYlitettyKorkeintaan12Kk,tavoiteaikaYlitettyYli12Kk,onAiempiKorkeakoulututkinto,tutkintopisteet,...,koulutusalaTaso2,koulutusalaTaso3,okmOhjauksenAla,rahoitusmallialaAmk2017-2020,rahoitusmallialaAmk2021-2024,rahoitusmallialaYo2017-2020,rahoitusmallialaYo2021-2024,koodiSektori,koodiKorkeakoulu,koodiKoulutus
0,2015,Yliopistokoulutus,Helsingin yliopisto,"Kasvatustieteiden kandidaatti (alempi), lasten...",126,46,33,47,21,151.13,...,Kasvatusalat,Varhaiskasvatuksen opettajien koulutus,Kasvatusalat,"Kasvatusalat, taiteet ja kulttuurialat ja yhte...","Kasvatusalat, taiteet ja kulttuurialat ja yhte...",Kasvatusalat,Kasvatusalat,5,01901,612101
1,2015,Yliopistokoulutus,Helsingin yliopisto,"Kasvatust. kand. (alempi), luokanopettaja (ei ...",131,19,38,74,14,146.74,...,Kasvatusalat,Luokanopettajien koulutus,Kasvatusalat,"Kasvatusalat, taiteet ja kulttuurialat ja yhte...","Kasvatusalat, taiteet ja kulttuurialat ja yhte...",Kasvatusalat,Kasvatusalat,5,01901,612102
2,2015,Yliopistokoulutus,Helsingin yliopisto,"Kasvatust. kand. (alempi), kotitalousopettaja ...",31,2,7,22,3,33.05,...,Kasvatusalat,Aineenopettajien koulutus,Kasvatusalat,"Kasvatusalat, taiteet ja kulttuurialat ja yhte...","Kasvatusalat, taiteet ja kulttuurialat ja yhte...",Kasvatusalat,Kasvatusalat,5,01901,612104
3,2015,Yliopistokoulutus,Helsingin yliopisto,"Kasvatust. kand. (alempi), käsityönopettaja (e...",26,2,9,15,4,28.32,...,Kasvatusalat,Aineenopettajien koulutus,Kasvatusalat,"Kasvatusalat, taiteet ja kulttuurialat ja yhte...","Kasvatusalat, taiteet ja kulttuurialat ja yhte...",Kasvatusalat,Kasvatusalat,5,01901,612105
4,2015,Yliopistokoulutus,Helsingin yliopisto,"Kasvatust. kand. (alempi), kasvatustiede",71,19,19,33,8,83.50,...,Kasvatusalat,Kasvatustieteet,Kasvatusalat,"Kasvatusalat, taiteet ja kulttuurialat ja yhte...","Kasvatusalat, taiteet ja kulttuurialat ja yhte...",Kasvatusalat,Kasvatusalat,5,01901,612201

In [14]:
df = df.drop(columns=['sektori', 'tutkintopisteet', 'koulutusalaTaso2', 'koulutusalaTaso3', 'okmOhjauksenAla'])

In [15]:
df

,tilastovuosi,korkeakoulu,koulutus,tutkinnot,tavoiteajassa,tavoiteaikaYlitettyKorkeintaan12Kk,tavoiteaikaYlitettyYli12Kk,onAiempiKorkeakoulututkinto,koulutusasteTaso1,koulutusasteTaso2,koulutusalaTaso1,rahoitusmallialaAmk2017-2020,rahoitusmallialaAmk2021-2024,rahoitusmallialaYo2017-2020,rahoitusmallialaYo2021-2024,koodiSektori,koodiKorkeakoulu,koodiKoulutus
0,2015,Helsingin yliopisto,"Kasvatustieteiden kandidaatti (alempi), lasten...",126,46,33,47,21,Alempi korkeakouluaste,Alempi korkeakoulututkinto,Kasvatusalat,"Kasvatusalat, taiteet ja kulttuurialat ja yhte...","Kasvatusalat, taiteet ja kulttuurialat ja yhte...",Kasvatusalat,Kasvatusalat,5,01901,612101
1,2015,Helsingin yliopisto,"Kasvatust. kand. (alempi), luokanopettaja (ei ...",131,19,38,74,14,Alempi korkeakouluaste,Alempi korkeakoulututkinto,Kasvatusalat,"Kasvatusalat, taiteet ja kulttuurialat ja yhte...","Kasvatusalat, taiteet ja kulttuurialat ja yhte...",Kasvatusalat,Kasvatusalat,5,01901,612102
2,2015,Helsingin yliopisto,"Kasvatust. kand. (alempi), kotitalousopettaja ...",31,2,7,22,3,Alempi korkeakouluaste,Alempi korkeakoulututkinto,Kasvatusalat,"Kasvatusalat, taiteet ja kulttuurialat ja yhte...","Kasvatusalat, taiteet ja kulttuurialat ja yhte...",Kasvatusalat,Kasvatusalat,5,01901,612104
3,2015,Helsingin yliopisto,"Kasvatust. kand. (alempi), käsityönopettaja (e...",26,2,9,15,4,Alempi korkeakouluaste,Alempi korkeakoulututkinto,Kasvatusalat,"Kasvatusalat, taiteet ja kulttuurialat ja yhte...","Kasvatusalat, taiteet ja kulttuurialat ja yhte...",Kasvatusalat,Kasvatusalat,5,01901,612105
4,2015,Helsingin yliopisto,"Kasvatust. kand. (alempi), kasvatustiede",71,19,19,33,8,Alempi korkeakouluaste,Alempi korkeakoulututkinto,Kasvatusalat,"Kasvatusalat, taiteet ja kulttuurialat ja yhte...","Kasvatusalat, taiteet ja kulttuurialat ja yhte...",Kasvatusalat,Kasvatusalat,5,01901,612201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4471,2020,Tampereen yliopisto,"Dipl.ins., rakennustekniikka, yhdyskuntatekniikka",22,2,8,12,0,Ylempi korkeakouluaste,Ylempi korkeakoulututkinto,Tekniikan alat,"Luonnontieteet, tietojenkäsittely ja tietoliik...","Luonnontieteet, tietojenkäsittely ja tietoliik...",Tietojenkäsittely ja tietoliikenneliikenne sek...,Tietojenkäsittely ja tietoliikenne sekä teknii...,5,10122,751501
4472,2020,Tampereen yliopisto,"Dipl.ins., tuotantotalous",25,4,11,10,0,Ylempi korkeakouluaste,Ylempi korkeakoulututkinto,Tekniikan alat,"Luonnontieteet, tietojenkäsittely ja tietoliik...","Luonnontieteet, tietojenkäsittely ja tietoliik...",Tietojenkäsittely ja tietoliikenneliikenne sek...,Tietojenkäsittely ja tietoliikenne sekä teknii...,5,10122,751601
4473,2020,Tampereen yliopisto,Arkkitehti,8,1,3,4,0,Ylempi korkeakouluaste,Ylempi korkeakoulututkinto,Tekniikan alat,"Luonnontieteet, tietojenkäsittely ja tietoliik...","Luonnontieteet, tietojenkäsittely ja tietoliik...",Tietojenkäsittely ja tietoliikenneliikenne sek...,Tietojenkäsittely ja tietoliikenne sekä teknii...,5,10122,754101
4474,2020,Tampereen yliopisto,Lääketieteen lisensiaatti,100,88,9,3,5,Ylempi korkeakouluaste,Ylempi korkeakoulututkinto,Terveys- ja hyvinvointialat,"Humanistiset alat, lääketieteet ja terveys- ja...","Humanistiset alat, lääketieteet ja terveys- ja...",Lääketiede,Lääketiede ja hammaslääketiede,5,10122,772101
4475,2020,Tampereen yliopisto,"Terveystieteiden maisteri, terveydenhuollon ka...",7,5,1,1,0,Ylempi korkeakouluaste,Ylempi korkeakoulututkinto,Terveys- ja hyvinvointialat,"Humanistiset alat, lääketieteet ja terveys- ja...","Humanistiset alat, lääketieteet ja terveys- ja...",Terveys- ja hyvinvointialat,Terveys- ja hyvinvointialat sekä palvelualat,5,10122,772501

In [16]:
df = df.drop(columns=['koulutus', 'koodiKoulutus', 'rahoitusmallialaYo2021-2024', 'rahoitusmallialaYo2017-2020', 'rahoitusmallialaAmk2021-2024', 'rahoitusmallialaAmk2017-2020'])

In [17]:
df

,tilastovuosi,korkeakoulu,tutkinnot,tavoiteajassa,tavoiteaikaYlitettyKorkeintaan12Kk,tavoiteaikaYlitettyYli12Kk,onAiempiKorkeakoulututkinto,koulutusasteTaso1,koulutusasteTaso2,koulutusalaTaso1,koodiSektori,koodiKorkeakoulu
0,2015,Helsingin yliopisto,126,46,33,47,21,Alempi korkeakouluaste,Alempi korkeakoulututkinto,Kasvatusalat,5,01901
1,2015,Helsingin yliopisto,131,19,38,74,14,Alempi korkeakouluaste,Alempi korkeakoulututkinto,Kasvatusalat,5,01901
2,2015,Helsingin yliopisto,31,2,7,22,3,Alempi korkeakouluaste,Alempi korkeakoulututkinto,Kasvatusalat,5,01901
3,2015,Helsingin yliopisto,26,2,9,15,4,Alempi korkeakouluaste,Alempi korkeakoulututkinto,Kasvatusalat,5,01901
4,2015,Helsingin yliopisto,71,19,19,33,8,Alempi korkeakouluaste,Alempi korkeakoulututkinto,Kasvatusalat,5,01901
...,...,...,...,...,...,...,...,...,...,...,...,...
4471,2020,Tampereen yliopisto,22,2,8,12,0,Ylempi korkeakouluaste,Ylempi korkeakoulututkinto,Tekniikan alat,5,10122
4472,2020,Tampereen yliopisto,25,4,11,10,0,Ylempi korkeakouluaste,Ylempi korkeakoulututkinto,Tekniikan alat,5,10122
4473,2020,Tampereen yliopisto,8,1,3,4,0,Ylempi korkeakouluaste,Ylempi korkeakoulututkinto,Tekniikan alat,5,10122
4474,2020,Tampereen yliopisto,100,88,9,3,5,Ylempi korkeakouluaste,Ylempi korkeakoulututkinto,Terveys- ja hyvinvointialat,5,10122
4475,2020,Tampereen yliopisto,7,5,1,1,0,Ylempi korkeakouluaste,Ylempi korkeakoulututkinto,Terveys- ja hyvinvointialat,5,10122

In [18]:
df = df.drop(columns = ['koulutusasteTaso2', 'koulutusalaTaso1', 'koodiSektori'])

In [19]:
df

,tilastovuosi,korkeakoulu,tutkinnot,tavoiteajassa,tavoiteaikaYlitettyKorkeintaan12Kk,tavoiteaikaYlitettyYli12Kk,onAiempiKorkeakoulututkinto,koulutusasteTaso1,koodiKorkeakoulu
0,2015,Helsingin yliopisto,126,46,33,47,21,Alempi korkeakouluaste,01901
1,2015,Helsingin yliopisto,131,19,38,74,14,Alempi korkeakouluaste,01901
2,2015,Helsingin yliopisto,31,2,7,22,3,Alempi korkeakouluaste,01901
3,2015,Helsingin yliopisto,26,2,9,15,4,Alempi korkeakouluaste,01901
4,2015,Helsingin yliopisto,71,19,19,33,8,Alempi korkeakouluaste,01901
...,...,...,...,...,...,...,...,...,...
4471,2020,Tampereen yliopisto,22,2,8,12,0,Ylempi korkeakouluaste,10122
4472,2020,Tampereen yliopisto,25,4,11,10,0,Ylempi korkeakouluaste,10122
4473,2020,Tampereen yliopisto,8,1,3,4,0,Ylempi korkeakouluaste,10122
4474,2020,Tampereen yliopisto,100,88,9,3,5,Ylempi korkeakouluaste,10122
4475,2020,Tampereen yliopisto,7,5,1,1,0,Ylempi korkeakouluaste,10122

In [20]:
df['tilastovuosi'] != 2020

0        True
1        True
2        True
3        True
4        True
        ...
4471    False
4472    False
4473    False
4474    False
4475    False
Name: tilastovuosi, Length: 4476, dtype: bool

In [21]:
df = df[df['tilastovuosi'] != 2020]

In [22]:
df.sort_values(by=['tilastovuosi', 'korkeakoulu'])

,tilastovuosi,korkeakoulu,tutkinnot,tavoiteajassa,tavoiteaikaYlitettyKorkeintaan12Kk,tavoiteaikaYlitettyYli12Kk,onAiempiKorkeakoulututkinto,koulutusasteTaso1,koodiKorkeakoulu
439,2015,Aalto-yliopisto,120,21,38,61,20,Alempi korkeakouluaste,10076
440,2015,Aalto-yliopisto,334,122,118,94,12,Alempi korkeakouluaste,10076
441,2015,Aalto-yliopisto,36,6,16,14,4,Alempi korkeakouluaste,10076
442,2015,Aalto-yliopisto,33,8,12,13,0,Alempi korkeakouluaste,10076
443,2015,Aalto-yliopisto,161,20,35,106,0,Alempi korkeakouluaste,10076
...,...,...,...,...,...,...,...,...,...
3295,2019,Åbo Akademi,10,0,5,5,0,Ylempi korkeakouluaste,01903
3296,2019,Åbo Akademi,10,3,2,5,0,Ylempi korkeakouluaste,01903
3297,2019,Åbo Akademi,20,4,4,12,0,Ylempi korkeakouluaste,01903
3298,2019,Åbo Akademi,28,8,12,8,0,Ylempi korkeakouluaste,01903
3299,2019,Åbo Akademi,14,8,2,4,0,Ylempi korkeakouluaste,01903

In [23]:
df[(df['tilastovuosi'] == 2015) & (df['korkeakoulu'] == 'Helsingin yliopisto')]['tutkinnot'].sum()

5516

In [24]:
df = df.groupby(['tilastovuosi', 'korkeakoulu']).sum()

In [25]:
df.to_csv('tavoiteaika_data.csv',index=True)

In [34]:
degrees = pd.read_csv('data/degrees_data.csv')

In [35]:
degrees.head()

,yliopisto,tilastovuosi,Alempi korkeakoulututkinto,Ylempi korkeakoulututkinto,Lisensiaatintutkinto,Tohtorintutkinto
0,Aalto-yliopisto,2015,1662,1968,27,255
1,Helsingin yliopisto,2015,2826,2691,36,528
2,Itä-Suomen yliopisto,2015,1359,1380,12,162
3,Jyväskylän yliopisto,2015,1260,1485,9,159
4,Lapin yliopisto,2015,489,417,4,24

In [28]:
import plotly.express as px

In [37]:
degrees.yliopisto.isin(['Aalto-yliopisto', 'Helsingin yliopisto', 'Itä-Suomen Yliopisto'])

0      True
1      True
2     False
3     False
4     False
      ...
60    False
61    False
62    False
63    False
64    False
Name: yliopisto, Length: 65, dtype: bool

In [38]:
publications = pd.read_csv('data/jufo_data.csv')

In [39]:
publications.head()

              yliopisto  JUFO-taso  tilastovuosi  lkm
0       Aalto-yliopisto          0          2018  232
1   Helsingin yliopisto          0          2018  436
2  Itä-Suomen yliopisto          0          2018  103
3  Jyväskylän yliopisto          0          2018   95
4       Lapin yliopisto          0          2018   36